* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
a {
  color: #36a20d;
}
a:hover {
  color: #7ab80a;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h1 img {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  margin: 0 0.1em;
  transform: translate(0, 2px);
}
hr {
  margin: 4em auto;
  border-top: none;
  border-bottom: dotted 1px #B0B0B0;
  max-width: 600px;
}
p {
  margin: 0 0 1.4em 0;
  padding: 0;
}
.mt2 {
  margin-top: 2em;
}
.mt1 {
  margin-top: 1em;
}
.mt05 {
  margin-top: 0.5em;
}
.o05 {
  opacity: 0.5;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.form > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.form input {
  display: block;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 4px;
  width: 100%;
}
#how-to-get-token {
  display: none;
}
.report h1 {
  text-align: left;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em 0 0;
  font-size: 1.3em;
  display: inline-block;
  border-right: solid 1px #999;
}
.report header {
  padding: 1em;
  border-bottom: dotted 1px #999;
  margin-bottom: 1em;
}
.report .header a {
  display: inline-block;
  margin-left: 0.6em;
}
.report .user h2 {
  text-align: left;
  display: inline-block;
}