* {
  box-sizing: border-box;
  word-break: break-word;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
a {
  color: #184706;
}
a:hover {
  color: #7ab80a;
}
h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h1 img {
  width: 0.8em;
  height: 0.8em;
  display: inline-block;
  margin: 0 0.1em;
  transform: translate(0, 2px);
}
hr {
  margin: 4em auto;
  border-top: none;
  border-bottom: dotted 1px #B0B0B0;
  max-width: 600px;
}
p {
  margin: 0 0 1.4em 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}
.tac {
  text-align: center !important;
}
.mt2 {
  margin-top: 2em !important;
}
.mb2 {
  margin-bottom: 2em !important;
}
.my2 {
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.mt1 {
  margin-top: 1em !important;
}
.mt05 {
  margin-top: 0.5em !important;
}
.o05 {
  opacity: 0.5 !important;
}
.block {
  display: block !important;
}
.inline {
  display: inline-block !important;
}
.grid2 {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.emoji {
  display: inline-block;
  transform: translate(0, 3px);
}

.authorize {
  display: block;
  text-decoration: none;
  max-width: 350px;
  margin: 0 auto;
  color: #fff;
  background: #58950e;
  border-radius: 6px;
  padding: 0.4em;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.75);
  transition: background 200ms ease-out;
}
.authorize:hover {
  color: #fff;
  background: #284308;
}
.form > p {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.form input {
  display: block;
  font-size: 1em;
  padding: 0.4em;
  border-radius: 4px;
  width: 100%;
}
#how-to-get-token {
  display: none;
}

/* Report */

.report h1 {
  text-align: left;
  margin: 0 0.5em 0 0;
  padding: 0 0.5em 0 0;
  font-size: 1.3em;
  display: inline-block;
  border-right: solid 1px #999;
}
.report header {
  padding: 1em;
  border-bottom: dotted 1px #999;
  margin-bottom: 1em;
}
.report header h1 a {
  color: #000;
  text-decoration: none;
}
.report .header a {
  display: inline-block;
  margin-left: 0.6em;
}
.report .user {
  padding: 1em;
}
.report .user h2 {
  padding: 0;
  margin: 0;
  font-size: 3em;
  text-align: center;
  line-height: 1em;
}
.report .user h2 img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 67% 33% 35% 65% / 38% 30% 70% 62%;
  margin: 0 auto 0.5em auto;
}